@tailwind base;
@tailwind components;
@tailwind utilities;
//@import 'antd/dist/antd.css';
@import "antd/dist/antd.variable.min.css";

:root {
    --color: rgba(125, 108, 226);
    --color-lighter: rgba(255, 255, 255, 0.2);
    --border-radius: 8px;
    --border-radius-small: 4px;
    --color-hover: rgba(125, 108, 226, 0.7);
    --color-shadow: rgba(125, 108, 226, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

//================= IMPORT ===========================//
@import "./scss/common";
@import "./scss/page";
@import "./scss/app";
@import "./scss/overide";
