.ant-drawer-content {
    border-radius: var(--border-radius);
}

.ant-dropdown {
    border-radius: 4px;

    &-menu {
        padding: 3px 4px;

        &-item {
            min-height: 44px;
        }

        &-item:hover {
            border-radius: 4px;
        }
    }
}

.ant-input-affix-wrapper {
    border-radius: var(--border-radius-small);
}

.ant-input {
    border-radius: var(--border-radius-small);
}

.ant-form-item-label {
    font-weight: 500;
}

.ant-pagination {
    & * {
        border-color: #ffffff !important;
        border-radius: 16px;
    }

    &-item {
        &-active {
            border-radius: 16px;
            background-color: var(--ant-primary-color);
            border-color: var(--ant-primary-color);

            &:hover,
            :focus {
                & a {
                    color: white;
                }
            }

            & a {
                color: white;

                &:hover,
                :focus {
                    color: white;
                }
            }
        }

        &-ellipsis {
            margin-right: 20px !important;
        }
    }
}

.work-form {
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        padding: 0;
    }

    .ant-collapse-ghost
        > .ant-collapse-item
        > .ant-collapse-content
        > .ant-collapse-content-box {
        padding: 0;
    }
}
