.ant-dropdown {
    border-radius: 4px;

    &-menu {
        padding: 3px 4px;

        &-item {
            min-height: 44px;
        }

        &-item:hover {
            border-radius: 4px;
        }
    }
}

.ant-menu {
    font-size: 16px;

    &-light {
        & .ant-menu-submenu-title:hover {
            color: var(--color);
        }

        & .ant-menu-item:hover {
            color: var(--color);
        }
    }

    &:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: #ffffff;
    }

    &-submenu > .ant-menu {
        border-radius: var(--border-radius-small);
    }

    &-sub.ant-menu-inline {
        background-color: #ffffff;
    }

    &-submenu {
        &:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
            color: var(--color);
        }

        &-selected {
            color: var(--color) !important;
        }

        &-active {
            color: var(--color) !important;
        }
    }

    &-inline .ant-menu-item::after {
        border-right: 3px solid var(--color);
    }

    &-item {
        display: flex;
        align-items: center;

        & a:hover {
            color: var(--color)
        }

        &-icon {
            font-size: calc(100% + 8px) !important;
        }
    }

    &-item {
        &-active {
            color: var(--color) !important;
        }

        &-selected {
            color: var(--color) !important;


            & a {
                color: var(--color);
            }
        }
    }
}

a:hover {
    color: var(--color) !important;
}

