.ant-drawer-content {
    border-radius: var(--border-radius);
}

.ant-dropdown {
    border-radius: 4px;

    &-menu {
        padding: 3px 4px;

        &-item {
            min-height: 44px;
        }

        &-item:hover {
            border-radius: 4px;
        }
    }
}

//.ant-input-affix-wrapper {
//    border-radius: var(--border-radius-small);
//}
//
//.ant-input {
//    border-radius: var(--border-radius-small);
//}

.ant-form-item-label {
    font-weight: 500;
}

.ant-pagination {
    &-item {
        &-active {
            border-radius: 16px !important;
        }

        &:hover {
            border-radius: 16px !important;
        }
    }
}

.work-form {
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        padding: 0;
    }

    .ant-collapse-ghost
    > .ant-collapse-item
    > .ant-collapse-content
    > .ant-collapse-content-box {
        padding: 0;
    }
}

.react-trello {
    &-lane {
        & header {
            border-bottom: 1px solid rgba(196, 196, 196, .3);
            padding: 13px 0;
            margin: 0 16px;

            & .bUyCIa {
                padding-right: 0;
            }
        }
    }

    &-card {
        & header {
            align-items: center;
            padding: 0 0 10px 0;
            margin: 0;
        }
    }
}

.handleGroup {
    & rect {
        opacity: 0 !important;
    }
}

._CZjuD{
    border-radius: 12px;
}
